/* "css/style.css" for "index.html" */


/********** global settings **********/
body {
    /*** Background ***/
    background: linear-gradient(200deg, #17b1ea, #0d4c70);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-size: cover;

    /*** Text ***/
    color: white;
    text-shadow: -3px 2px 3px #000, -2px 2px 1px #000;

    /*** Font ***/
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 16px;
}


.container {
    /* style container div */
    border: 2px solid #0d4c70;
    background: linear-gradient(200deg, #17b1ea, #0d4c70);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}


.container img {
    /* style avatar images */
    float: left;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.id {
    /* style class id */
    float: right;
}

.message {
    color: #fff;
}

.date {
    /* style class date */
    float: right;
}