/* css for index.html */
body {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    }
    .container {
        display: flex;
        flex: 1;
    }
    p1 {
        flex: 1;
        padding: 0 20px;
    }
    p2 {
        flex: 0 180px;
        padding: 0 10px;
        order: -1;
    }
    p3 {
        flex: 0 0 180px;
        padding: 0 10px;
    }
    .headers {
        text-shadow: 5px 2px 4px gray;
    }